<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    
    <!-- build:process -->
    <title><%= title %></title>
    <!-- /build -->

    <script type="text/javascript">
        //This all here is for cache busting;
        function addScript(src, buster, callback) {
            var s = document.createElement('script');
            s.setAttribute('src', src + '?v=' + buster);
            if (typeof callback === 'function') {
                s.onload = callback;
            }
            document.body.appendChild(s);
        }

        <!-- build:process -->
        window.onload = function() {
            addScript('game.min.js', '<%= version %>', function () {
                new Game();
            });
        }
        <!-- /build -->
    </script>

    <style>
        body {
            margin: 0; 
            background: #000000; 
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
</body>
</html>