<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    
    <!-- build:process -->
    <title><%= title %></title>
    <!-- /build -->

    <script src="phaser-ce/build/phaser.js"></script>
    <script src="flappybird.js"></script>

    <script type="text/javascript">
        window.onload = function() {
            var game = new Phaser.Game(Game.config.width, Game.config.height, Phaser.CANVAS, 'gameContainer');
            game.state.add("boot", Game.States.Boot);
            game.state.add("loading", Game.States.Loading);
            game.state.add("menu", Game.States.Menu);
            game.state.add("play", Game.States.Play);
            game.state.start("boot");
        };
    </script>

    <style>
        body {
            margin: 0; 
            background: #000000; 
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
</body>
</html>