<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    
    <title>Flappy Bird JS</title>

    <script type="text/javascript">
        window.onload = function() {
            new Game();
        }
    </script>

    <style>
        body {
            margin: 0;
            background: #000000; 
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
</body>
</html>